* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

  @media screen and (min-width: 400px) {
    .block{
      min-width: 80%;
    }
      .AboutUsBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        background-color: #EDEDE9;
        color: #242424;
      }
      h3 {
        padding-top: 12px;
        padding-bottom: 12px;
      }
      h2 {
        font-weight: bold;
        padding-top: 4px ;
        padding-bottom: 4px ;
      }
      section>h2,
      section>p
      {
        display: flex;
        text-align: center;
        justify-content: center ;
        /* color:red */
      }
      section>p{
        padding-bottom: 16px;
      }
  }
