.form-div {
  /* background-color: aqua; */
  width: 100%;
  margin-top: 40px;
}
Form {
  /* background-color: red; */
}

label,
#label1,
#label2,
#label3 {
  margin-left: 40px;
}
input {
  border: 1px solid black;
}
h1 {
  justify-content: flex-start;
}

button {
  width: 20%;
}
