* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }


  @media screen and (min-width: 380px) {
    .discoverPage > *{
        display: flex;
        flex-direction: column;
        /* background-color: aquamarine; */
    }
    .discoverPage {
        display: flex;
        flex-direction: column-reverse;
    }

    .postGridContainer{
        color: black;

    }
    .row1,.row2 {
        display: flex;
        justify-content: space-around;
        max-width: 75%;
        padding: 16px 0px 0px 0px;
    }
    .row2 {
        padding-bottom: 16px;
    }
    .col1,.col2,.col3 {
        border: black 2px solid;
        min-width: 280px;
        min-height: 250px;
        border-radius: 4%;

    }
}

@media screen and (min-width: 800px) {
    .discoverPage {
        flex-direction: column;
    }
    .cPostBtnContainer{
        flex-direction: row-reverse;
        padding:16px 10% 16px 0px;
    }
    .createPostBtn {
        max-width: 80px;
        border-radius: 10%;
    }

}
